<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DarkPan - Dashboard </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="../public/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../public/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../public/css/style.css" rel="stylesheet">
</head>
<style>
    .sticky-header th {
        position: sticky;
        top: 0;
        background: #000;
        color: #fff;
        z-index: 1;
    }

    .blink_me {
        animation: blinker 1s linear infinite;
        color: red;
    }

    @keyframes blinker {
        50% { opacity: 0; }
    }
</style>
<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <!-- <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div> -->
                </div>
                <div class="navbar-nav w-100">
                    <a href="/" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elements</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="button.html" class="dropdown-item">Buttons</a>
                            <a href="typography.html" class="dropdown-item">Typography</a>
                            <a href="element.html" class="dropdown-item">Other Elements</a>
                        </div>
                    </div> -->
                    <a href="/news" class="nav-item nav-link"><i class="fa fa-th me-2"></i>News</a>
                    <a href="/network" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>IP Logs</a>
                    <a href="/eventlog" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Eventlog</a>
                    <a href="/filewatcher" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>File Watchdog</a>
                    <a href="/virustotal" class="nav-item nav-link"><i class="fa fa-envelope me-2"></i>Virus Total</a>
                    <a href="/about" class="nav-item nav-link"><i class="fa fa-bell me-2"></i>About DarkPan</a>
                    <!-- <a href="/databreach" class="nav-item nav-link"><i class="fa fa-envelope me-2"></i>Data Breach</a> -->

                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div> -->
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="/" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex"></span>
                        </a>
                        <!-- <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="../public/img/news.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="../public/img/news.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="../public/img/news.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div> -->
                    </div>
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div> -->
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">John Doe</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div> -->
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    
                    <!-- <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Evenr</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Revenue</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Revenue</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="container-fluid">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Recent Events</h6>
                                <a href="/eventlog">Show All With Details</a>
                            </div>
                            <div class="table-responsive">
                                <table class="table text-start">
                                    <thead>
                                        <tr class="text-white">
                                            <th scope="col">EventID</th>
                                            <th scope="col">PredictedValue</th>
                                            <th scope="col">Event Description</th>
                                            <th scope="col">Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% 
                                        let filteredEvents = events.filter(event => event.PredictedValue > 0);
                                        for(let i = 0; i < Math.min(10, filteredEvents.length); i++) { 
                                            let event = filteredEvents[i];
                                            let index = i; 
                                        %>
                                            <tr>
                                                <td><%= event.EventID %></td>
                                                <td>
                                                    <%= event.PredictedValue %>
                                                    <% if (event.PredictedValue == 0) { %>
                                                        <span class="badge bg-success">Safe</span>
                                                    <% } else if (event.PredictedValue <= 2) { %>
                                                        <span class="badge bg-warning">Warning</span>
                                                    <% } else { %>
                                                        <span class="badge bg-danger">Danger</span>
                                                    <% } %>
                                                </td>
                                                <td style="max-width: 1000px; word-wrap: break-word;"><%= event.Description ? event.Description : 'Unknown' %></td>
                                                <td>
                                                    <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#details-<%= index + 1 %>">Details</button>
                                                    <div class="modal fade" id="details-<%= index + 1 %>" tabindex="-1" aria-labelledby="details-<%= index + 1 %>-label" aria-hidden="true">
                                                        <div class="modal-dialog modal-lg">
                                                            <div class="modal-content bg-secondary text-white">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="details-<%= index + 1 %>-label" style="padding: 10px;">Event Details</h5>
                                                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div style="overflow: auto; max-height: 400px; font-size: 1.2em;">  
                                                                        <p><strong>EventID:</strong> <%= event.EventID %></p>
                                                                        <p><strong>PredictedValue:</strong> <%= event.PredictedValue %></p>
                                                                        <p><strong>Description:</strong> <%= event.Description %></p>
                                                                        <p><strong>SourceName:</strong> <%= event.SourceName %></p>
                                                                        <p><strong>Status:</strong> <%= event.Level %></p>
                                                                        <p><strong>Channel:</strong> <%= event.Channel %></p>
                                                                        <p><strong>Message:</strong>
                                                                            <pre>
                                                                                <% 
                                                                                try {
                                                                                    var messageObj = JSON.parse(event.Message);
                                                                                    %><%= JSON.stringify(messageObj, null, 2) %><%
                                                                                } catch (error) {
                                                                                    %><%= event.Message %><%
                                                                                }
                                                                                %>
                                                                            </pre>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" style="font-size: 1.2em;">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                      
                    <div class="container-fluid">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Recent Ip Logs</h6>
                                <!-- <div class="form-group">
                                    <label for="limit">Number of logs to display:</label>
                                    <input type="number" class="form-control" id="limit" name="limit" min="1" value="10">
                                </div>
                                <button class="btn btn-primary" onclick="updateLimit()">Update</button> -->
                                <a href="/network">Show All With Details</a>
                            </div>
                            <div class="table-responsive">
                                <table class="table text-start">
                                    <thead>
                                        <tr class="text-white">
                                            <th scope="col">PID</th>
                                            <th scope="col">Process</th>
                                            <th scope="col">Protocol</th>
                                            <th scope="col">StartTime</th>
                                            <th scope="col">CommunicationProtocol</th>
                                            <th scope="col">LocalIP</th>
                                            <th scope="col">LocalPort</th>
                                            <th scope="col">RemoteIP</th>
                                            <th scope="col">RemotePort</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let i = 0; i < Math.min(10, IpLogs.length); i++) { 
                                            let log = IpLogs[i]; %>
                                            <tr>
                                                <td><%= log.PID %></td>
                                                <td><%= log.Process %></td>
                                                <td><%= log.Protocol %></td>
                                                <td><%= log.StartTime %></td>
                                                <td><%= log.CommunicationProtocol %></td>
                                                <td><%= log.LocalIP %>
                                                    <% if (isGlobalIP(log.LocalIP)) { %>
                                                        <span class="blink_me">•</span>
                                                    <% } %>
                                                </td>
                                                <td><%= log.LocalPort %></td>
                                                <td><%= log.RemoteIP %>
                                                    <% if (isGlobalIP(log.RemoteIP)) { %>
                                                        <span class="blink_me">•</span>
                                                    <% } %>
                                                </td>
                                                <td><%= log.RemotePort %></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <p style="font-style: italic; text-align: left;">
                                <strong>ICMP (Internet Control Message Protocol):</strong> Used to send error messages and operational information between network devices. / Ağ cihazları arasında hata mesajları ve operasyonel bilgileri iletmek için kullanılır.<br>
                                <strong>UDP (User Datagram Protocol):</strong> Provides fast and connectionless communication, but does not guarantee that the transmitted data is correctly received. / Hızlı ve bağlantısız bir iletişim sağlar, ancak iletilen verinin doğru bir şekilde ulaştığını garantilemez.<br>
                                <strong>TCP (Transmission Control Protocol):</strong> Manages data transmission over the Internet and guarantees that the data is correctly received. / İnternet üzerinde veri iletimini yönetir ve verinin doğru bir şekilde ulaştığını garantiler.
                            </p>
                        </div>
                    </div>
                    <!-- <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Worldwide Sales</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Salse & Revenue</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="salse-revenue"></canvas>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- Sales Chart End -->
            <script>
                $('#details-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var log = button.data('log') // Extract info from data-* attributes
                // Update the modal's content.
                var modal = $(this)
                modal.find('.modal-title').text('IP Logs Details')
                modal.find('.pid').text(log.PID)
                modal.find('.process').text(log.Process)
                // ... repeat for all fields
                })

                window.onload = function() {
                    var limit = document.getElementById('limit').value;
                    //var logs = <%= JSON.stringify(IpLogs) %>;
                    var output = '';
                    for(let i = 0; i < Math.min(limit, logs.length); i++) {
                        var log = logs[i];
                        // Generate your table rows and modals here, using `log` and `i`
                        // Add them to the `output` string
                    }
                    // Replace the contents of your table body with the new output
                    document.getElementById('tableBody').innerHTML = output;
                }
            </script>

            <script>
                document.querySelectorAll('[data-bs-toggle="modal"]').forEach(function (element) {
                    element.addEventListener('click', function () {
                        var target = document.querySelector(element.getAttribute('data-bs-target'));
                        if (target.classList.contains('show')) {
                            target.classList.remove('show');
                        } else {
                            document.querySelectorAll('.modal.show').forEach(function (modal) {
                                modal.classList.remove('show');
                            });
                            target.classList.add('show');
                        }
                    });
                });
            </script>

            <!-- Widgets Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="container">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <h6 class="mb-0">Password Generator</h6>
                                </div>
                                <div class="form-group">
                                    <label for="length">Length:</label>
                                    <input type="number" id="length" name="length" min="1" max="100" value="15" class="form-control">
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" id="lowercase" name="lowercase" checked class="form-check-input">
                                    <label for="lowercase" class="form-check-label">Include lowercase letters</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" id="uppercase" name="uppercase" checked class="form-check-input">
                                    <label for="uppercase" class="form-check-label">Include uppercase letters</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" id="numbers" name="numbers" checked class="form-check-input">
                                    <label for="numbers" class="form-check-label">Include numbers</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" id="symbols" name="symbols" checked class="form-check-input">
                                    <label for="symbols" class="form-check-label">Include symbols</label>
                                </div>
                                <button onclick="generatePassword()" class="btn btn-primary mt-3">Generate</button>
                                <input type="text" id="password" readonly class="form-control mt-3">
                            </div>
                        </div>
                    </div>

                    <!-- Modal For Password Generator -->
                    <div class="toast" id="copyToast" style="position: fixed; bottom: 0; right: 0; margin: 20px;" data-delay="2000">
                        <div class="toast-body">
                            Copied to clipboard.
                        </div>
                    </div>
                    

                    <!-- Calendar Starter -->
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Calender</h6>
                            </div>
                            <div id="calender"></div>
                        </div>
                    </div>
                    <!-- Calendar Finish -->
                    
                    <div class="col-sm-6 col-xl-3 justify-content-between">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Event</p>
                                <h6 class="mb-0">123</h6>
                            </div>
                        </div>
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4 mt-3">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Event</p>
                                <h6 class="mb-0">123</h6>
                            </div>
                        </div>
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4 mt-3">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Event</p>
                                <h6 class="mb-0">123</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Widgets End -->

            <script>
                    document.getElementById('length').addEventListener('keydown', function(e) {
                        e.preventDefault();
                    });

                function generatePassword() {
                    var length = document.getElementById('length').value;
                    var lowercase = document.getElementById('lowercase').checked;
                    var uppercase = document.getElementById('uppercase').checked;
                    var numbers = document.getElementById('numbers').checked;
                    var symbols = document.getElementById('symbols').checked;
        
                    var charset = '';
                    var password = '';
        
                    if (lowercase) charset += 'abcdefghijklmnopqrstuvwxyz';
                    if (uppercase) charset += 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
                    if (numbers) charset += '0123456789';
                    if (symbols) charset += '!@#$%^&*()_+!@(/!#+=?*|}{[]:?><./-=';
        
                    for (var i = 0, n = charset.length; i < length; ++i) {
                        password += charset.charAt(Math.floor(Math.random() * n));
                    }
        
                    document.getElementById('password').value = password;
                }

                document.getElementById("password").addEventListener("click", function() {
                    this.select();
                    document.execCommand("copy");
                    //alert("Copied the text: " + this.value);
                });

                document.getElementById("password").addEventListener("click", function() {
                    if(this.value !== '') { // input alanı boş değilse
                        this.select();
                        document.execCommand("copy");
                
                        var toastElement = document.getElementById("copyToast");
                        var toastInstance = new bootstrap.Toast(toastElement);
                        toastInstance.show();
                    }
                });
            </script>

            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, illo! 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            Lorem ipsum dolor sit amet.
                            <!-- /*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                            <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->

        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="../public/lib/easing/easing.min.js"></script>
    <script src="../public/lib/waypoints/waypoints.min.js"></script>
    <script src="../public/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../public/lib/tempusdominus/js/moment.min.js"></script>
    <script src="../public/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../public/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="../public/js/main.js"></script>
</body>

</html>